
<div class = "row">

  <div class = "col-xs-12">
    <div class = "home-header" id = "about">
      About Loquar
    </div>
    <hr class = "home-hr">
</div>

<div class = "row">
    
<div class = "col-xs-12 col-md-6">
    
    <!--<div class="panel panel-default panel-loquar home-panel">**-->
    <div class="home-panel">
        Loquar is a web app designed to pull down the curtain of mystery and esotericism 
        that confronts the would-be self-taught student of Latin, the ancient 
        language of the Romans. Dip your toes in the culture of antiquity 
        using a mobile-friendly game-like interface before investing in
        textbooks and tomes.<br><br>
        The Loquar grammar course adapts a time tested turn of the century Latin textbook,
         Benjamin D'Ooge's <i>Latin for Beginners</i>.
        The text has been abbreviated and the exercises adapted into an convenient web app format.
        See the F.A.Q. for more information about the source and how you can take your Latin
        to then next level from here. 
        <br><br>
        <p><i>11 Rigorous grammar lessons</i></p><br>
        <p><i>Regular updates</i></p><br>
      <p><i>New features coming soon: reading & composition</i></p><br>
        

    </div>
    
</div>
<div class = "col-xs-12 col-md-6 align-center">
  <div class="home-panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-Ifex3sRQ9k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  
  </div>
  
</div>
  
  

</div>