
<div class = "row">

  <div class = "col-xs-12">
    <div class = "home-header" id = "faq">
      F.A.Q.
    </div>
    <hr class = "home-hr">

    
  </div>
</div>

<div class = "row">
    
<div class = "col-xs-12 col-md-8 col-md-offset-2">
    

    <div class="home-panel">
        <ul>
        <li><b>Where can I find the source material for the grammar course?</b><br>
        The original text can be found in a few different versions at project gutenberg: 
        <a href = "http://www.gutenberg.org/ebooks/18251" target="_blank">project gutenberg</a>.
        <a href = "http://www.textkit.com/" target="_blank">Textkit</a> also has a copy in addition to a number of 
        other useful and freely available beginner's texts. 
        <br></li>
         <li><b>I'm lost on the grammar course - and the exercises are too difficult!</b><br>
        Latin has a reputation as a difficult subject, and not completely without reason. 
        The grammar of the language is much different from English and many of the most common
        modern European languages. If you find yourself lost, try consulting the original text - 
        the lesson texts on Loquar have been edited and abbreviated for brevity. You may find
        the longer explanations helpful. Alternatively, try looking into alternative resources. Often
        hearing the same thing explained in different words can be make all the difference in understanding
        a difficult topic.<br> </li>
        <li> <b>Where can I find additional beginner's resources?</b><br>
        You should find the following links helpful in your latin learning journey:<br>
        <a href="http://www.textkit.com/" target="_blank">http://www.textkit.com/</a><br>
        <a href="https://www.latinitium.com/" target="_blank">https://www.latinitium.com/</a><br>
        <a href="http://indwellinglanguage.com/reading-latin-extensively/" target="_blank">Useful artiticle on Latin reading strategy</a><br>
        <a href="https://www.reddit.com/r/latin/" target="_blank">https://www.reddit.com/r/latin/</a><br>
        <br></li>
        <li> <b>I've completed the grammar course, what's next?</b><br>
        For one, keep on the look out for regular updates to Loquar and new content.
        After that, explore the links above and the loquar blog to get ideas on where to go next.
        Feel free to send me an email and I would be glad to make recommendations.<br>
        <br></li>
        </ol>
    </div>

    
</div>
</div>
