<div class = "container loquar-container">
<div class = "row">
    <div class = "col-xs-12 col-md-8 col-md-offset-2">
        <div class = "panel panel-default panel-loquar">
            <div class = "panel-heading panel-loquar-heading">
                
                
            </div>
            <div class = "panel-body panel-loquar-body">
                <%= link_to 'Edit', edit_profile_path(@user) %>
                <%= link_to 'Back', profile_index_path %>
                
            </div>
            
        </div>
    </div>
</div>


</div>